.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vw;
}
.RoutesListWrapper {
  width: 50%;
  height: 1200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(148, 150, 255);
  padding: 15px;
}
.RouteCard {
  background-color: rgb(41, 41, 41);
  color: rgb(38, 247, 247);
  border-radius: 10px;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
.pagination{
  position: absolute;
  display: flex;
}
.page-item{
  height: 50px;
  width: 50px;
  background-color: rgb(179, 226, 226);
  border-style: solid;
  border-radius: 5px;
  margin: 5px;
}
h1{
  color: rgb(179, 226, 226);
}
