.route-card {
  height: 200px;
  width: 18%;
  background-color: #efdfff;
  color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2c6ff;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  text-align: left;
  font-family: cursive;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
}
.routes-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 1200px;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e6e6e6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.pagination-section {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 50px;
  width: 100%;
}
.routes-section {
  height: 80%;
}
.btn {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #663399;
  border-color: #663399;
  color: white;
}
.btn:hover {
  background-color: #753ab1;
}
.route-item-section {
  display: flex;
  flex-direction: row;
}
.route-item-image {
  width: 30px;
  height: 30px;
}
.route-item-image-container {
  width: 20%;
}
.route-item-text-container {
  width: 80%;
}
