.route-card {
  width:200px;
  height: 200px;
  background-color: #efdfff;
  color: black;
  text-align: left;
  font-family: cursive;
  font-weight: 400;
  font-size: 2rem;
  margin: 5px;
  padding: 15px;
}
.routes-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e6e6e6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.pagination-section {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 50px;
  width: 100%;
}
.routes-section {
  height: 80%;
}
.route-item-section {
  display: flex;
  flex-direction: row;
}
.route-item-image {
  width: 30px;
  height: 30px;
}
.route-item-image-container {
  width: 20%;
}
.route-item-text-container {
  width: 80%;
}
